<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0">
<!-- wp:pattern {"slug":"furnishop/banner"} /-->
<!-- wp:pattern {"slug":"furnishop/categories-banner"} /-->
<!-- wp:pattern {"slug":"furnishop/why-choose-section"} /-->
<!-- wp:pattern {"slug":"furnishop/featured-products"} /-->
<!-- wp:pattern {"slug":"furnishop/trusted-by"} /-->
<!-- wp:pattern {"slug":"furnishop/get-in-touch"} /-->
<!-- wp:pattern {"slug":"furnishop/reviewed-by-customer"} /-->
<!-- wp:pattern {"slug":"furnishop/our-blogs"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->

